@model IEnumerable<filepdf.Models.Engineer>
@foreach (var item in Model)
{
    <td>
         @item.Name
    </td>
    <td>
        <a asp-action="DownloadFile" asp-route-filePath="@item.FilePath">Download</a>
    </td>
    <br />
}